html, body {
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

#container {
  height: 512px;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
