@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html,
body {
  margin-top: 30px;
  padding: 0;
  background-color: #333333;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  color: white;
}
body > pre {
  text-align: left;
  white-space: pre-wrap;
}
h1 {
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
#sim,
#sim canvas {
  width: 512px !important;
  height: 512px !important;
}
#sim {
  margin-top: 50px;
  display: inline-block;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.control-panel {
  text-align: left;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
}
.btn {
  font-family: 'Hack';
}
