html, body {
  margin: 0;
  padding: 0;
}

#plot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#plot svg {
  display: block;
}

#outputs {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 80px;
}
